
  .card-img-top {
    width: 150px; 
    height: auto  ; 
    border-width: 3px; 
  }
  .card-img-top:hover {
    transform: scale(1.1)  ;
    
  }
  .card{
    box-shadow: 0 10px 10px rgba(0, 0, 0,1)
  
  }



