<router-outlet></router-outlet>
<!-- 
<div class="row row-cols-md-2">
  <app-card *ngFor="let item of items" [item]="item"></app-card>
</div> -->

<!-- <div class="container"> <div class="row row-cols-2 g-0"> <app-card *ngFor="let item of items" [item]="item"></app-card>
</div>
</div> -->

<!-- <div class="row row-cols-2 row-cols-md-2 g-0">
  <app-card *ngFor="let item of items" [item]="item"></app-card>
</div> -->
<body>
<h1 style="text-align: center; color:rgba(58, 87, 196, 0.838)">The Avengers </h1>
<div class="container d-flex justify-content-center">
  <div class="row row-cols-2 row-cols-md-2 g-3 mb-4">
    <app-card *ngFor="let item of items" [item]="item"></app-card>
  </div>
</div>
</body>